<!-- Borrows for a selected game -->
{% extends "gamers/base.html" %}

{% block content %}

<p>Game name: <b>{{ games.name }}</b></p>
<p>Owner: <b>{{ games.owner }}</b></p>
<p>Genre: <b>{{ games.genre }}</b></p>
<p>Developer: <b>{{ games.developer }}</b></p>
<p>Release year: <b>{{ games.year_published }}</b></p>
{% if games.id == borrow.last.game.id and borrow.first.currentstatus == False %}
<p>Currently borrowed?: <b>No</b></p>
{% elif borrow.last is None %}
<p>Currently borrowed?: <b>No</b></p>
{% else %}
	<p>Currently borrowed?: <b>Yes</b></p>
	<p>This game is currently borrowed by: <b>{{borrow.first.borrower}}</b></p>
{% endif %}



<p><br><br>Borrows</p>
{% if games.id == borrow.last.game.id and borrow.first.currentstatus == False or borrow.last is None %}
<p><a href="{% url 'gamers:new_borrow' games.id%}">>Borrow this game</a></p>
{% else %}
<p>This game is currently borrowed</p>
{% endif %}

	<ul>
		{% for sb in borrow %}
			<li>
				<p><u>Game name</u>: <a href="{%url 'gamers:gameborrow' sb.game.id%}"><b>{{ sb.game.name }}</b></a></p>
				<p><u>Date borrowed</u>: <b>{{ sb.date_added|date:"M d, Y H:i" }}</b></p>
				{% if sb.date_added|date:"M d, Y H:i" == sb.date_modified|date:"M d, Y H:i" %}
				<p><u>Date returned</u>: <b>Not yet returned</b></p>
				{% else %}
				<p><u>Date returned</u>: <b>{{ sb.date_modified|date:"M d, Y H:i" }}</b></p>
				{% endif %}
				<p><u>Notes</u>: <i>{{ sb.notes|linebreaks }}</i></p>
				<br>
				{% if sb.borrower == request.user and not sb.currentstatus or sb.borrower != request.user and not sb.currentstatus %}
				<p><b>This borrow has already been returned!</b></p>
				{% elif sb.borrower != request.user %}
				<p>Only <b>{{ sb.borrower }}</b> can return this game</p>
				{% elif sb.borrower == request.user %}
				<p><a href="{% url 'gamers:edit_borrow' sb.id%}">Return game</a></p>
				{% endif %}	
				<br>
			</li>
			{% empty %}
				<li>No one has borrowed this game yet</li>
		{% endfor %}
	</ul>
{% endblock content %}
